.consultSection {
    /* background-image: url(../Images/green-bg.png); */
    background-position: center;
    background-size: cover;
    margin-top: 150px;
}
.consultSection .contentWrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.consultSection .contentWrap p{
    font-size: 38px;
    font-weight: bold;
    color: white;
    margin-top: 137px;
    max-width: 65%;
}
.consultSection .imgWrap{
    margin-top:-40px;
}
.consultSection .imgWrap img{
    max-width: 88% !important;
}
.consultSection .contentWrap a{
    text-decoration: none;
    color: black;
}
.consultSection .contentWrap a{
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    background: #0B5B30;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    z-index: 1;
}
.consultSection .contentWrap a::before{
    position: absolute;
    content: '';
    width: 56px;
    height: 56px;
    border: 4px solid #B5D659;
    z-index:-1;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    transition: all ease 1s;
}
.consultSection .contentWrap a:hover::before{
    width: 115%;
}
.consultSection .contentWrap .actionBtn{
    margin-top: 10px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    background-image: url(../../Images/Shadow.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* background-position: center; */
    
}

