
.contentWrap img{
    max-width: 80%;
}
.Wrapper{
    display: flex;
    margin-top: 30px;
}
.Wrapper .contentWrap h1{
    max-width: 40%;
    margin-top: 10%;
    color: white;
}
.Wrapper .contentWrap p{
    max-width: 30%;
    line-height: 30px;
    color: white;
}
.contentWrap{
    background-color: #7f7770;
}
.bgColor{
    background-color: #e2a355;
}